<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <div class='ui container index'>
      <div class='ui centered grid'>
      <div class='eight wide column'>
      <img class="ui large circular image" src="https://cdn.shopify.com/s/files/1/0276/5929/files/guitar.jpg?10148070595368923215">
      </div>
      <div class='six wide column'>
        <div class='ui floating message'>
        <p><strong>Name:</strong> Nathen Bowes</p>
        <p><strong>Job Title:</strong> Tier 2 Technical Support</p>
        <p><strong>Job Description:</strong></p>
        <p>
          Troubleshooting technical issues from merchants stores including
          reading, writing, and testing API calls, writing SQL queries to search databases,
          and determining store setting discrepancies.
        </p>
        <p><strong>Company:</strong> Shopify</p>

        </div>
      </div>
      </div>
    <h4 class="ui horizontal divider header">
      <i class="add user icon"></i>
        About me
    </h4>
    <div class='ui text'>
        <img class='ui medium rounded left floated image' src='https://cdn.shopify.com/s/files/1/0276/5929/files/sanddunesnm2.jpg?12163187491582021336'>
        <p>
          I am in love with the outdoors. After a long time in Ottawa I decided
          to move across the country to be in the beautiful British Columbia.
          Nature is everywhere here and gives me ample time to go hiking, biking,
          running, and yoga. I have been practicing yoga for a 2 years, and acro
          yoga for 1 year. I have completed multiple 5/10km races, and ran across
          the finish line of a half-marathon. I find myself exploring and traveling
          around the BC area, and trying lots of the great craft beer along the way.
          I have also travelled across Canada a second time - but this time in a
          camper van. I camped in each major city across the country, and then skipped
          winter in Canada and spent some time crossing the southern United States.
          I went to a honky tonk in Nashville, saw a folk band in Austin, and
          spent the night camping in the desert of Arizona. I also make sure never
          to leave my house without one of my guitars so I can play when there
          is downtime.
        </p>
        <img class='ui medium rounded right floated image' src='https://cdn.shopify.com/s/files/1/0276/5929/files/grandcanyon1.jpg?12030598491694357744'>
        <p>
        I really enjoy all kinds of music, and have been playing guitar for over
        12 years. I purchased my first guitar when working part time
        in grade 9, and have bought 5 guitars since then. It's a great
        way to express my creativity, and get away from the computer for a little
        while. It has also been a great influencer to meet new people and get me
        out of my comfort zone. I love challenging myself with new chords, and
        always like learning new styles of music. I started playing guitar in a
        alternative rock band, then played some classic rock and metal jam sessions,
        and finally bought the accoustic guitar I always wanted to play folk music.
        After visitng the southern United States, I also enjoy country music much
        more than when I started travelling. My career allows me to work remotely
        so I can travel and experience new cultures, music, and a different way of living.
        I believe in and love living the digital nomad lifestlye, and enjoy careers
        that allow me to continue me down this path.
        </p>
        <p>
        Over the last 4 years at Shopify, I have been inspired by the amount of
        extremely smart people I work with, and have become very interested in technology.
        On a daily basis, I work on issues relating to API's, troubleshoot requests in
        JSON and Ruby, and build my own custom queries for a MYSQL database. I also
        have experience writing my own migrations to build databases of varying data
        depending on the application. I also make my own applications for personal
        growth which has helped me speak on a higher level with the brilliant minds
        of Shopify. I have experience writing front and backend code in a few different
        languages such as Ruby on Rails, Javascript, PHP and more. I have developed
        both public and private Shopify applications, and worked with Shopify’s
        Hosted Payments SDK. This not only helps troubleshoot API calls with merchants,
        but gives me perspective into how a developer uses Shopify as a platform.
        Even this portfolio is a Ruby on Rails application that I built a database for,
        and deployed it to heroku. Have a look at the <a href=‘/projects’><strong>Projects</strong></a>
        section of my profile to see code examples and live demos of other code I have been working on.
        </p>
      </div>
    </div>
  </body>
</html>
