<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nathen's Portfolio</title>
  </head>
  <body>
    <div class='ui container index'>
      <img class="ui medium circular image" src="https://cdn.shopify.com/s/files/1/0276/5929/files/File_003.jpg?7957486437569048961">
    <h4 class="ui horizontal divider header">
      <i class="add user icon"></i>
        About me
    </h4>
    <div class='ui text'>
    <p>
    I'm a 26-year-old who is in love with the outdoors. After a long time in Ottawa I
    decided to move across the country to be in the beautiful British Columbia.
    Nature is everywhere here and gives me ample time to go hiking, biking,
    running, and yoga. I completed my first half marathon last year and am
    training for another one. Once you get over the first kilometer nerves, you
    really start to see how much your training pays off. I also do yoga to aid
    with breathing, controlling my mind in the tougher parts of the race, and for
    my overall health and well-being. I find myself exploring and traveling
    around the area, and trying lots of the great craft beer along the way. I really
    enjoy all kinds of music, and have been playing guitar for over 12 years.
    </p>
    <p>
    Over the last 4 years at Shopify, I have been inspired by the amount of
    extremely smart people I work with, and have become very interested in technology.
    This lead me to start writing code to make my own applications for personal
    growth and has helped me speak on a higher level with the brilliant minds of
    Shopify. Have a look at the 'Projects' section of my profile to see code
    examples and live demos of what I have been working on.
    </p>
  </div>
    </div>
  </body>
</html>
