<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projects</title>
  </head>
  <body>
    <div class="ui cards">
      <div class="card">
        <div class="content">
          <div class="header">
            MatchDev
          </div>
          <div class="meta">
            RoR app
          </div>
          <div class="description">
            Rails application that uses bootstrap as a front-end framework, and
            interacts with Stripes API for charging customers for paid content.
          </div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
            <a class="ui basic green button" href='https://matchdev.herokuapp.com' target='_blank'>View live demo</a>
            <a class="ui basic blue button" href='https://github.com/NBowes/saasapp' target='_blank'>View it on Github</a>
          </div>
        </div>
      </div>
      <div class="card">
      <div class="content">
        <div class="header">
          Shopify-App
        </div>
        <div class="meta">
          Public app using shopify-app gem
        </div>
        <div class="description">
        Public Rails application that uses the shopify-app gem. Controller
        file has been modified to pull in orders, and view also includes
        fulfillment and payment status. Front-end framework done with semantic-ui.
        </div>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <a class="ui basic green button" href='https://nbowesapi.herokuapp.com/' target='_blank'>View live demo</a>
          <a class="ui basic blue button" href='https://github.com/NBowes/api_test' target='_blank'>View it on Github</a>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
