<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projects</title>
  </head>
  <body>
    <div class="ui cards">
      <div class="card">
        <div class="content">
          <div class="header">
            MatchDev
          </div>
          <div class="meta">
            RoR app
          </div>
          <div class="description">
            Rails application that uses bootstrap as a front-end framework, and
            interacts with Stripes API for charging customers for paid content.
          </div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
            <a class="ui basic green button" href='https://matchdev.herokuapp.com' target='_blank'>View live demo</a>
            <a class="ui basic blue button" href='https://github.com/NBowes/saasapp' target='_blank'>View it on Github</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
